<html>
    <head>
        <title>Our Room</title>
    </head>

    <body>
        <h1>Our Room ID {{id}}</h1>
        <ul>
            {{#each results}}
            <li>Timestamp : {{Timestamp}}, Temperature : {{Temperature}}, Humidity : {{Humidity}}</li>
            {{/each}}
         </ul>
    </body>
</html>